In [ ]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:95% !important; }</style>"))

### Import Modules

In [14]:
import pandas as pd
import seaborn as sns
import pickle

from sklearn.preprocessing import StandardScaler, Imputer
from sklearn.model_selection import train_test_split

### Load Dataset

In [3]:
filepath = '/Users/tim/src/Metis/Project_3/data/interim/df_merge3.pkl'
with open(filepath, 'rb') as pkl:
    df = pickle.load(pkl)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5138 entries, 0 to 5137
Data columns (total 26 columns):
country           5138 non-null object
year              5138 non-null int64
mil_career        5138 non-null int64
tenure            5138 non-null float64
exec_ant          5138 non-null int64
irreg_lead_ant    5138 non-null int64
exec_recent       5138 non-null int64
lead_recent       5138 non-null int64
coup              5138 non-null int64
prev_conflict     5138 non-null int64
nat_resources     4150 non-null float64
food_scarcity     2271 non-null float64
education         2168 non-null float64
healthcare        2401 non-null float64
reserves          2291 non-null float64
revenue           2482 non-null float64
electricity       4234 non-null float64
debt_forgiven     2691 non-null float64
life_exp          4070 non-null float64
mil_spending      3337 non-null float64
sanitation        2531 non-null float64
water             2526 non-null float64
tax               2494 non-null float64
military_pop      3643 non-null float64
rgdpe             3806 non-null float64
hc                3258 non-null float64
dtypes: float64(17), int64(8), object(1)
memory usage: 1.1+ MB

In [5]:
df.describe()

,year,mil_career,tenure,exec_ant,irreg_lead_ant,exec_recent,lead_recent,coup,prev_conflict,nat_resources,...,electricity,debt_forgiven,life_exp,mil_spending,sanitation,water,tax,military_pop,rgdpe,hc
count,5138.000000,5138.000000,5138.000000,5138.000000,5138.000000,5138.000000,5138.000000,5138.000000,5138.000000,4150.000000,...,4234.000000,2.691000e+03,4070.000000,3337.000000,2531.000000,2526.000000,2494.000000,3643.000000,3.806000e+03,3258.000000
mean,2003.100428,0.167575,7.029648,0.166018,0.044959,0.156286,0.292332,0.020631,2.157649,7.211303,...,74.197527,-1.029608e+08,67.977616,2.384674,70.980481,83.542215,17.497845,1.557235,3.338019e+05,2.370840
std,7.786875,0.373525,8.436585,0.372133,0.207235,0.363162,0.454878,0.142158,7.079684,11.526182,...,33.732617,7.862107e+08,9.680143,3.329329,30.773775,19.703826,7.672055,1.792741,1.025757e+06,0.690561
min,1990.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,-2.925860e+10,27.610000,0.000000,3.150087,16.734686,0.043495,0.000000,1.852567e+02,1.029605
25%,1996.000000,0.000000,1.583333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.286974,...,50.134729,-4.328000e+06,61.730000,1.094534,42.077048,74.875482,12.655118,0.499252,1.336585e+04,1.784048
50%,2003.000000,0.000000,3.916667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.120725,...,94.791840,0.000000e+00,70.217000,1.646952,85.294692,91.784247,16.998816,1.031299,4.675649e+04,2.417113
75%,2010.000000,0.000000,8.916667,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,8.740537,...,100.000000,0.000000e+00,75.227707,2.700748,97.679045,99.208811,22.155642,1.824027,2.392072e+05,2.929119
max,2016.000000,1.000000,55.750000,1.000000,1.000000,1.000000,1.000000,1.000000,104.000000,82.589361,...,100.000000,0.000000e+00,85.417073,117.349823,100.000000,100.000000,62.858611,34.697000,1.754609e+07,3.809064

### Split training and test data

In [6]:
# Create feature matrix (X) and target vector (y)
y = df['coup']
X = df.drop(['year', 'coup', 'country'], axis=1)


# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.2, random_state=13, stratify=y)

In [7]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4110 entries, 4484 to 3754
Data columns (total 23 columns):
mil_career        4110 non-null int64
tenure            4110 non-null float64
exec_ant          4110 non-null int64
irreg_lead_ant    4110 non-null int64
exec_recent       4110 non-null int64
lead_recent       4110 non-null int64
prev_conflict     4110 non-null int64
nat_resources     3313 non-null float64
food_scarcity     1809 non-null float64
education         1736 non-null float64
healthcare        1899 non-null float64
reserves          1825 non-null float64
revenue           1980 non-null float64
electricity       3387 non-null float64
debt_forgiven     2135 non-null float64
life_exp          3250 non-null float64
mil_spending      2659 non-null float64
sanitation        2009 non-null float64
water             2006 non-null float64
tax               1991 non-null float64
military_pop      2904 non-null float64
rgdpe             3023 non-null float64
hc                2589 non-null float64
dtypes: float64(17), int64(6)
memory usage: 770.6 KB

### Impute with Mean

In [8]:
imputer = Imputer(strategy='mean', axis=0)
imputer.fit(X_train)
train_mean = imputer.transform(X_train)

# filepath = '/Users/tim/src/Metis/Project_3/data/interim/train_mean.pkl'
# with open(filepath, 'wb') as pkl:
#     pickle.dump(train_mean, pkl)

In [9]:
train_mean.shape

(4110, 23)

In [13]:
imputer = Imputer(strategy='mean', axis=0)
imputer.fit(X_train)
test_mean = imputer.transform(X_test)

# filepath = /Users/tim/src/Metis/Project_3/data/interim/train_mean.pkl'
# with open(filepath, 'wb') as pkl:
#     pickle.dump(test_mean, pkl)

In [ ]:
train_mean.shape

### Impute with Median

In [10]:
imputer2 = Imputer(strategy='median', axis=0)
imputer2.fit(X_train)
train_median = imputer.transform(X_train)

# filepath = '/Users/tim/src/Metis/Project_3/data/interim/train_median.pkl'
# with open(filepath, 'wb') as pkl:
#     pickle.dump(train_median, pkl)

In [11]:
train_median.shape

(4110, 23)

### Future Work to Finish

#### Impute with Mean by Country

In [12]:
# fill_mean = X_train.groupby('country').mean().reset_index()

# train_mean_grouped = impute_all_the_things(X_train, fill_mean)

# filepath = '/Users/tim/src/Metis/Project_3/data/interim/train_mean_grouped.pkl'
# with open(filepath, 'wb') as pkl:
#     pickle.dump(train_mean_grouped, pkl)

In [13]:
#train_mean_grouped.info()

#### Aggregate Similar Data

In [1]:
def impute_all_the_things(df, fill_in):
    merged = pd.merge(df, fill_in, left_on='country', right_on='country')
    col_to_replace = [c for c in merged.columns if c.endswith('_x')]
    for col in col_to_replace:
        col_replace_with = col[:-2] + '_y'
        merged[col].fillna(merged[col_replace_with], inplace=True)
        merged.drop(col_replace_with, axis=1, inplace=True)
        merged.rename(columns={col: col[:-2]}, inplace=True)
    return merged

In [16]:
# df_by_country =  df.groupby(['country'])

In [17]:
# scaler = StandardScaler()

# # Development Index
# df_dev = df_by_country[['electricity', 'water', 'sanitation', 'life_exp']]
# dev_scaled = scaler.fit_transform(df_dev)
# full_dev = df_dev.notnull().sum(axis=1)
# df_dev.fillna(0, inplace=True)
# df_by_country['dev_index'] = (dev_scaled['electricity'] + dev_scaled['water'] + dev_scaled['sanitation'])/full_dev

# # Military Focus
# df_mil = df_by_country[['military_pop', 'mil_spending']]
# mil_scaled = scaler.fit_transform(df_mil)
# full_mil = df_mil.notnull().sum(axis=1)
# df_mil.fillna(0, inplace=True)
# df_by_country['mil_index'] = (mil_scaled['military_pop'] + mil_scaled['mil_spending'])/full_mil

ValueError: could not convert string to float: 'Afghanistan'

In [ ]:
# # Development Index
# df_dev = df[['country', 'year', 'electricity', 'water', 'sanitation']]
# full = df_dev.notnull().sum(axis=1) - 2
# df_dev.fillna(0, inplace=True)
# df['dev_index'] = (df_dev['electricity'] + df_dev['water'] + df_dev['sanitation'])/full

# # Government Money
# df_mon = df[['tax', 'revenue']]
# full_mon = df_mon.notnull().sum(axis=1)
# df_mon.fillna(0, inplace=True)
# df['mon_index'] = (df_mon['tax'] + df_mon['revenue'])/full_mon